.App {
  max-width: 1450px;
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accent-color{
  color: #370ACE;
}

.accent-white-text{
  color:white;
}

.accent-background{
  background-color: #370ACE;
}